.skills ._8 {
    color: #0092ca;
}

.skills-p {
    animation: fadeIn 1s 1.6s backwards;
}

.canvasContainer {
    animation: fadeIn 2s 1.4s backwards;
}

.canvasContainer a {
    font-size: 10px;
}

@media screen and (min-width: 1024px) {

    .skills .left {
        width: 40%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .skills-p {
        margin-bottom: 10px;
        font-size: 14px;
        letter-spacing: 0.8px;
        line-height: 18px;
        margin-left: 20px;
    }

    .skills-p span,
    .skills-p a {
        color: #0092ca;
    }

    .skills .right {
        width: 60%;
        position: relative;
    }

    .skills .left h1 {
        font-size: 45px;
    }

    .skills ._8 {
        font-size: 50px;
    }
}