._19 {
    color: #0092ca;
}

.left h4 {
    opacity: 0.6;
    font-weight: normal;
    letter-spacing: 4px;
    animation: fadeIn 1s 1.4s backwards;
}

.buttons,
.links {
    display: flex;
    gap: 10px;
    margin: 15px 0;
    animation: fadeIn 1s 1.6s backwards;
}

.buttons a {
    color: #0092ca;
    transition: 1s;
    text-decoration: none;
    border: 1.5px solid #0092ca;
    padding: 10px 18px;
    letter-spacing: 4px;
    font-weight: 500;

    &:hover {
        color: #eeeeee;
        background-color: #0092ca;
    }
}

.links a {
    color: #eeeeee;

    &:hover {
        color: #0092ca;
        animation: rubberBand 1s;
    }
}

.home .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileImage {
    width: 50%;
    border: 3px solid #393e46;
    border-radius: 25px;
    animation: fadeIn 2s 2s backwards;
}

@media screen and (min-width: 1024px) {
    .home .left h1 {
        font-size: 50px;
    }

    ._19 {
        font-size: 65px;
    }

    .home .left h4 {
        font-size: 14px;
    }

    .buttons a {
        font-size: 14px;
    }

    .links {
        gap: 30px;
        margin: 0 30px;
    }

    .links a {
        font-size: 40px;
    }
}