.navbar {
    background-color: #393e46;
}

.logo {
    font-family: 'La Belle Aurore';
}

.navbar ul {
    margin: 0;
}

.navbar li {
    list-style: none;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.4s;
    padding: 5px;

    &:hover {
        background-color: #0092ca;
    }
}

li.active {
    background-color: #0092ca;
}

@media screen and (min-width: 1024px) {
    .navbar {
        padding: 0 10%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-size: 35px;
    }

    .navbar ul {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 16px;
    }
}